body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.title {
    text-align: center;
    border: #333 1px solid;
    padding: 10px;
    margin: 20px;
}

.game-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: pink 1px solid;
}

.game-inner-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: black 1px solid;
    width: auto;
}

.game-options-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: black 1px solid;
    margin: 20px;
}

#start-img {
    max-width: 600px;
    height: auto;
    margin: 20px;
}


