/* 
To see mobile device view on Chrome
1. Open Chrome Developer Tools (F12)
2. Click on the Toggle Device Toolbar icon
3. Select a device from the Device Type list
4. Refresh the page
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: cyan;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.nav-bar-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.nav-bar-ctn span {
    margin-right: 20px;
    border: 1px solid black;
    padding: 5px 10px;
}

.title-ctn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-parameters-ctn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-res-ctn {
    display: flexbox;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid cyan;
}

.card-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid green;
}

.card-img-ctn {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.card-info-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.set-results-ctn {
    display: flex;
    margin-top: 20px;
    border: 1px solid green;
}