@font-face {
    font-family: 'BystanderSans-Medium';
    src: url('BystanderSans-Medium.ttf') format('truetype');
}

body {
    font-family: 'BystanderSans-Medium', fallback-fonts, sans-serif;
    color: aliceblue;
    background-image: url('space-bg.jpg');
    background-size: cover;

}


h1 {
    text-align: center;
    text-shadow: 0 1px 10px gold;
    
}

.header {
    text-align: center;
}

.table-ctn {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 5%;
}

#main-table {
    width: 100%;
    border: 1px solid black;
}

#main-table th {
    border: 1px solid hotpink;
}

#main-table td {
    border-top: 1px solid cyan;
    text-align: center;
}